@media screen and (max-width: 1200px) {
    #restaurante .menu-section:last-child {
        top: -300px;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        padding: 0 5%;
    }
    .header {
        background-position: center !important;
    }
    .section-content-img figure,
    .section-content-img img {
        max-width: 400px;
    }
    .section-content-restaurante img,
    .section-content-restaurante figure {
        max-width: 200px;
    }
}

@media screen and (max-width: 850px) {
    .section-content-img figure,
    .section-content-img img {
        max-width: 300px;
    }
    .section-content-restaurante img,
    .section-content-restaurante figure {
        max-width: 150px;
    }
}

@media screen and (max-width: 768px) {
    #restaurante .categoria:nth-child(2) {
        top: -130px;
    }
    #restaurante .categoria:nth-child(4) {
        top: -230px;
    }
    #restaurante .menu-section:last-child {
        top: -230px;
    }
}

@media screen and (max-width: 700px) {
    .sobre-container .section-content-img {
        display: none;
    }
    .section-content-text {
        width: 100%;
        padding: 0;
    }
    .menu-section:last-child {
        flex-direction: column;
    }
    .menu-section:last-child>p:last-child {
        font-weight: bold;
        font-size: 1.17rem;
    }
}

@media screen and (max-width: 550px) {
    main {
        margin-top: 5%;
    }
    .header-content {
        top: 200px;
    }
    .header-content h1 {
        font-size: 4.2rem;
    }
    .header-content h2 {
        font-size: 1.7rem;
    }
    .header-content h3 {
        font-size: 2.3rem;
    }
    .menu-section,
    .menu-section-container,
    .title-cat,
    #restaurante .menu-section:first-child>.menu-item-container .menu-item,
    #pizzaria .menu-section:not(:last-child)  {
        width: 100%;
    }
    .menu-item {
        padding: 2% 0;
    }
    .menu-logo {
        padding: 5% 11%;
    }
    .menu-logo img {
        position: absolute;
        top: 250px;
        left: 50%;
        transform: translateX(-65%);
        max-width: 150px;
    }
    .menu-logo a {
        margin: 0 5%;
    }
    #restaurante .categoria:nth-child(2),
    #restaurante .categoria:nth-child(4),
    #restaurante .categoria:nth-child(5),
    #restaurante .menu-section:last-child {
        top: 0px;
    }
    #restaurante .categoria:not(:first-child) .menu-item,
    #restaurante .menu-section:first-child,
    #pizzaria .menu-section:first-child>.menu-section-container:nth-child(1) {
        margin: 0;
    }
    #restaurante .menu-section:first-child>.menu-item-container,
    .menu-content {
        flex-direction: column;
    }
    .menu-content>div:last-child p:last-child {
        text-align: center;
        margin: 2% 0 5% 0;;
    }
    #pizzaria>.menu-section:first-child .menu-section-container:last-child ,
    #restaurante>.menu-section:nth-child(2) {
        margin-top: 7%;
    }
    .menu-section {
        margin: 5% 0;
    }
    .content-even>.overlay>div {
        padding: 0 5%;
    }
    .title-cat {
        border-radius: 7px;
        border: 1px solid var(--third-color);
        padding: 2% 5%;
        margin: 2% 0;
    }
    .title-cat>span {
        display: none;
    }
    .title-cat>div {
        width: 100%;
    }
    .title-cat>div i {
        display: block;
        width: auto;
    }
    .title-cat>div h4 {
        flex: 1;
        text-align: center;
    }
    .sobre-content .section-content-text {
        text-align: justify;
        padding: 0 3%;
    }
    .section-content-text>p:last-child,
    .section-content-restaurante>p:last-child {
        margin-top: 3%;
    }
    .section-content-text>p:last-child {
        margin-bottom: 5%;
    }
    .sobre-title {
        margin-top: 7%;
    }
    .sobre-title>span {
        width: 70%;
        margin-top: 2%;
    }
    .sobre-title>h3>span:last-child {
        top: -13px;
    }
    .social-item p {
        display: none;
    }
    .social-item:first-child {
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        padding: 0;
    }
    .phone i {
        padding-right: 0;
        border-right: 0;
    }
    .chef-content {
        padding: 0 11%;
    }
    .chef-content button {
        display: block;
    }
    .chef-content>.slick-arrow::before,
    .chef-content>.slick-arrow::after {
        color: black;
        font-size: 2.5rem;
    }
    .chef-content>.slick-arrow {
        color: transparent;
    }
    .chef-content>.slick-prev {
        left: 7px;
    }
    .chef-content>.slick-next {
        right: 27px;
    }
}