@media screen and (max-width: 768px) {
    .header nav {
        max-width: 250px;
        position: fixed;
        bottom: 127px;
        right: 30px;
        margin: 0;
        flex-direction: column;
        border: 1px solid var(--footer-border);
        text-shadow: none;
        z-index: 999;
        background: var(--secondary-border);
        display: none;
    }
    nav a {
        padding: 5% 0;
        width: 100%;
        font-size: 1.57rem;
        color: var(--main-color) !important;
    }
    nav a:nth-child(2) {
        border-right: 0;
        border-left: 0;
    }
    nav a:not(:last-child) {
        border-bottom: 1px solid var(--footer-border);
    }
}