/*  GERAL  */

:root {
    --main-color: #141414;
    --secondary-color: #fff;
    --third-color: #d0ae5e;
    --fourth-color: #666;
    --fift-color: #9a8b84;
    --main-border: #4c352a;
    --secondary-border: rgba(255, 255, 255, 0.5);
    --main-box-shadow: rgba(0, 0, 0, 0.25);
    --footer-border: rgba(0, 0, 0, 0.5);
    --chef-border: #424242;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: flex-start !important;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: var(--main-color);
    cursor: pointer;
}

button {
    outline: 0;
    border: 0;
}

img {
    width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2%;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.border-radius {
    border-radius: 7px;
}

.text-shadow {
    text-shadow: 1px 1px 0 var(--main-color), 1px -1px 0 var(--main-color), -1px 1px 0 var(--main-color), -1px -1px 0 var(--main-color), 1px 0px 0 var(--main-color), 0px 1px 0 var(--main-color), -1px 0px 0 var(--main-color), 0px -1px 0 var(--main-color);
}


/* DIV Header APÓS BODY */

.header {
    background-repeat: no-repeat !important;
    background-position: right center !important;
    background-attachment: fixed !important;
}

.header,
.header a {
    color: var(--secondary-color);
    font-size: 1.17rem;
}

.header,
.header>.overlay,
.header .container {
    height: 100vh;
    width: 100%;
}

.header .container {
    justify-content: flex-start;
}


/* Social */

.social-container {
    width: 100%;
    justify-content: space-evenly;
    padding: 7px 0;
    z-index: 99;
}

.social-item {
    cursor: pointer;
}

.social-item:not(:first-child) {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
}

.social-item:first-child {
    padding: 11px;
}

.social-item p {
    padding-left: 10px;
    color: var(--secondary-color);
}

.phone i {
    padding-right: 10px;
    border-right: 1px solid var(--secondary-color);
}

.social-item i {
    font-size: 1.5rem;
    text-shadow: none;
}

.social-item:hover i {
    color: var(--secondary-color);
}

.social-item p {
    font-size: 1rem;
    letter-spacing: 2px;
}

i.fa-phone {
    color: #0053C2;
}

.social-item:nth-child(1):hover {
    background-color: #0053C2;
}

i.fa-whatsapp {
    color: #25d366;
}

.social-item:nth-child(5):hover {
    background-color: #25d366;
}

i.fa-envelope,
i.fa-location-dot {
    color: #ea4335;
}

.social-item:nth-child(2):hover,
.social-item:nth-child(4):hover {
    background-color: #ea4335;
}

i.fa-facebook-f {
    color: #4267B2;
}

.social-item:nth-child(3):hover {
    background-color: #4267B2;
}


/* HEADER */

header {
    width: 100%;
    font-weight: 600;
    margin-top: 7px;
}

.menu-logo {
    padding: 7px 5%;
}

.menu-logo img {
    max-width: 150px;
    margin: 0 2rem;
}

.menu-logo a:not(:nth-child(2)) {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5% 0;
}

.menu-selected {
    color: var(--third-color) !important;
    border-bottom: 7px solid var(--third-color);
}

.menu-selected2 {
    color: var(--main-color);
    border-bottom: 7px solid var(--main-color);
    border-top: 7px solid var(--main-color);
}

nav.menu {
    margin: 7px 0;
    width: 100%;
    max-width: 400px;
    border: 1px solid var(--secondary-border);
}

nav a {
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    padding: 3% 0;
}

nav a:nth-child(2) {
    border-left: 1px solid var(--secondary-border);
    border-right: 1px solid var(--secondary-border);
}

nav a:hover,
.nav-selected {
    -webkit-box-shadow: inset 0px 0px 3px 0px var(--secondary-color);
    -moz-box-shadow: inset 0px 0px 3px 0px var(--secondary-color);
    box-shadow: inset 0px 0px 3px 0px var(--secondary-color);
}

nav a:hover {
    border-radius: 7px;
}

nav a:nth-child(1):hover {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

nav a:nth-child(2):hover {
    border-radius: 0;
}

nav a:nth-child(3):hover {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/* header content */

.header-content {
    position: relative;
    top: 70px;
}

.header-content>* {
    text-align: center;
    line-height: 4rem;
}

.header-content h1 {
    font-size: 5rem;
    margin: 0;
}

.header-content h2 {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
}

.header-content h3 {
    font-size: 3rem;
}

.header-content h1,
.header-content h3 {
    font-family: 'Great Vibes', cursive;
    color: var(--third-color);
}


/* Footer */

footer {
    background: var(--main-color);
    width: 100%;
    padding: 1% 0;
    font-size: 0.7rem;
    margin-top: 5%;
}

footer .container {
    justify-content: space-around;
}

footer .container>* {
    color: var(--fourth-color);
}


/* ICONE MOBILE E STICKY*/

header>.menu-sticky,
.button-social-container {
    position: fixed;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    background: var(--third-color);
    display: none;
}

header>.menu-sticky {
    width: 70px;
    height: 70px;
    bottom: 30px;
    right: 30px;
}

header>.menu-sticky i,
.button-social-container i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    text-shadow: none;
    z-index: 100;
}

.nav-selected {
    background: var(--third-color);
    font-weight: bold;
}


/* ICONE SOCIAL STICKY */

.button-social-container {
    top: 50%;
    left: 11px;
}